.title{
    text-align: center;
    color: white;
    background-color: rgb(13, 54, 34);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    margin: 0;
}

.img img{
    width: 200px;
}

.text{
    width: auto;
    font-size: 25px;
    
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}